#first{
text-align: center;
color:yellow;
background-color: aqua;

}
.container{
    background-color: black;
    padding:15px 10px ;
    text-align:center;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
   
  width: 195px;
  height: 310px;
  gap:10px;
}
button{
    background-color: rgba(128, 128, 128, 0.562);
    color:white;
    border-radius: 50%;
    border:0.6px solid grey;
    cursor:pointer;
    margin:1.8px;
    height:40px;
    width: 40px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
   text-align: center;
   font-size: 22px;
    
}
.input{
   width:auto;
   height: 30px;
   
   background-color: black;
   color:white;
   font-size: 0.9rem;
   margin-top:5px;
   margin-bottom: 8px;
}

.button8{
   background-color: rgb(28, 128, 0);
}
.button41 {
   background-color: rgb(28, 128, 0);
   
} 
.button411 {
   background-color: rgb(28, 128, 0);
} 
.button4111 {
   background-color: rgb(28, 128, 0);
} 
.button11{
   color: red;
}
.button33 {
   background-color: rgb(28, 128, 0);
} 
.button22 {
   background-color: rgb(28, 128, 0);
} 
.button4 {
   background-color: rgb(28, 128, 0);
} 

